<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878551705966-100n1573rj4023afervvfnijuobgieeb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878551705966-100n1573rj4023afervvfnijuobgieeb</string>
	<key>API_KEY</key>
	<string>AIzaSyCpgk7ToVHZiYKWpC6SQdYaWw_RgUrXDGI</string>
	<key>GCM_SENDER_ID</key>
	<string>878551705966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myyoukounkoun</string>
	<key>PROJECT_ID</key>
	<string>my-youkounkoun</string>
	<key>STORAGE_BUCKET</key>
	<string>my-youkounkoun.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878551705966:ios:286ac2e81713487f47797f</string>
</dict>
</plist>